/* Query Component */
.query-container {
  background-color: rgba(53, 130, 255, 0.219);
  padding: 12px 16px;
  /* border-radius: 8px; */
  border-left: 16px solid #4076ce;
  border-top: 1px solid #ffffff41;
  border-right: 1px solid #ffffff41;
  /* margin: 8px 0; */
  margin-top: 16px;

}

.query-title {
  margin: 0 0 8px 0;
  color: #1E40AF;
}

.query-text {
  margin: 0;
  color: #95b9f0;
}

/* Data Component */
.data-container {
  background-color: rgba(149, 159, 206, 0.05);
  padding-inline: 16px;
  padding-block: 8px;
  /* border-radius: 8px; */
  margin: 0px 0;
  border-left:  1px solid #ffffff41;
  border-right:  1px solid #ffffff41;
}

.data-title {
  margin: 0 0 16px 0;
  color: #2b353f;
}

.data-section {
  margin-bottom: 0px;
}

.data-key {
  margin: 0 0 8px 0;
  color: #5e6e86;
  font-size: 1.1em;
}

.data-string {
  margin: 0;
  padding: 8px;
  background-color: #f8fafc13;
  border-radius: 4px;
  width: fit-content;
}

.data-list {
  margin: 8px 0 0 0;
  padding-left: 20px;
}

.data-list li {
  margin-bottom: 4px;
}

.data-json {
  margin: 8px 0 0 0;
  padding: 12px;
  background-color: #f8fafc13;
  border-radius: 4px;
  overflow-x: auto;
  font-size: 0.9em;
}

/* Step Component */
.step-container {
  background-color: #80acff13;
  padding: 12px 16px;
  /* border-radius: 8px; */
  /* margin: 8px 0; */
  /* margin-top: 8px; */
  /* border:  1px solid #ffffff1f; */
  border-top:  1px solid #ffffff41;
  border-left:  1px solid #ffffff41;
  border-right:  1px solid #ffffff41;
}

.step-title {
  margin: 0 0 8px 0;
  color: #0685d9;
}

.step-message {
  margin: 0;
  color: #aedaff;
}

.user-query-container {
  font-style: 'italic';
  padding: '8px 0';
  /* margin-top: 32px; */
  font-size: 1.5rem;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.048);
  padding: 20px;
  border-top:  1px solid #ffffff41;
  border-left:  1px solid #ffffff41;
  border-right:  1px solid #ffffff41;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0px;
  /* font-weight: 600; */
}

.response-container{
  /* background-color: #2b3f33; */
  padding: 20px;
  margin-bottom: 60px;
  border-top:  1px solid #ffffff41;
  border-bottom:  1px solid #ffffff11;
  
}